*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
/* header */
#header{
  width:100%;
}
.head{
    display:flex;
    flex-direction: row;
    padding: 15px;
    box-shadow: 2px 2px 2px black;
    background-color:#1f2833;
    z-index: 5;
}
.navbar{
    padding: 10px 40px;
}

.navbar a{
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #66fcf1;
    margin-top: 10px;
    padding: 20px 20px;
   
}
.dropdown .dropbtn {
    font-size: 14px;  
    color:  #66fcf1;
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
   padding: 0px 20px;
   
    
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    color:orangered;
    font-weight: bold;
    text-decoration: underline;
    transition-duration: 1s;
  }
  @keyframes slidein1 {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    max-width: 1200px;
    box-shadow: 0px 8px 16px 0px black;
    overflow: visible;
    margin-top: 3px;
    z-index: 2;
    background-color:white;
    animation: slidein1 0.5s ease-out forwards;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover{
    background-color: #ddd;
  }
  
  
.dropdown-content .pro {
  display: flex;
  padding: 20px;
  width:80%;
}
.dropdown-content .pro figure{
  padding: 10px 0px;
  border: 1px solid gray;
}
.dropdown-content .pro figure figcaption{
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  color:black;
  padding: 5px;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content figure:hover {
    background-color: #ddd;
    transition-duration: 1s;
  }
  .head button{
    padding: 10px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 border: none;
 border-radius: 10px;
    margin-right:0%;
    cursor: pointer;
}




*{
  box-sizing: border-box;

}
#slideshow{
  margin-top: 3px;
}
.image-slideshow {
  margin-top: 30px;
max-width: 95%;
position: relative;
margin: auto;
z-index: 1;
}
.image-slideshow h1{
  position: relative;
  
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:#f9004d;
  margin-left: 5%;
  position: absolute;
  bottom: 100%;
  animation: slidein4 1s ease-out forwards;
}
.image-slideshow p{
  font-family: 'Poppins';
  font-size: 20px;
  color: white;
}

.image-slideshow img {
width: 100%;
height:90%;
filter: brightness(75%);
}

@keyframes slidein4 {
  0% {
    opacity: 0;
    bottom:0%;
  }
  100% {
    opacity: 1;
    bottom: 70%;
  }
}
.fade {
animation-name: fade;
animation-duration: 3s;


}
.fade{
  position: relative;
  display: inline-block;
}
.fade::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(255,69,0,0.50), rgb(0,0,139,0.0));
  opacity: 1; /* Adjust the opacity as per your preference */
}

@keyframes fade {
  from {opacity: .4;}
  to {opacity: 1;}
}
#price{
  padding: 25px;
  max-width: 100%;
}
.p1{
  display: flex;
  font-family: 'Poppins';
  font-weight: bold;
}
.p1 figure{
  padding: 30px 30px;
}
.p1 figure figcaption p{
  color: gray;
}
#price h2{
  font-family: 'Poppins';

}
.p1 figure:hover{
  background-color: #ddd;
  transition-duration: 1s;
  animation: slidein2 1s ease-out forwards;


}
@keyframes slidein2 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0.9);
  }
}

#footer{
  background-color:#1f2833;
    color:#66fcf1;
    padding: 30px;
    display: flex;
    width:100%;
    
}
.contact{
  width:50%;
}

.contact h1{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
.contact ul{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;

}
.contact .det{
  display: flex;
  font-family: 'Poppins';
}
.lg{
  width:50%;
}
.lg img{
 float:right;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50px);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#menu{
  display: flex;
  background-color: black;
  width:100%;
}
#menu .m1{
  width:20%;
  padding: 15px;
  display: flex;
}
#menu .m1 img{
width: 60px;
height: 50px;
}
#menu .m1 p{
  font-family: 'Poppins';
  font-weight: bold;
  margin-top: 8px;
  color:#66fcf1;
}
#menu .m1:hover{
  background-color: gray;
  transition-duration: 1s;
}